#footer {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	color: gray;
}
#message	{
	display: none;
	font-size: 1em;
} 

#message .normal{
	border: 2px solid #C0C0C0;
	margin: 10px 18px;
	padding: 10px 8px;
	/* font-weight: normal;*/
}

#message .success{
	border: 2px solid #390;
	margin: 10px 18px;
	padding: 10px 8px;
	font-weight: bold;
}

#message .error{
	border: 2px solid #C00;
	margin: 10px 18px;
	padding: 10px 8px;
	font-weight: bold;
	color: #900;
}

#startPage{
	margin: 14px 20px; 
	padding-top: 2em;
}

#metastore {
	clear: both;
}

#biosamples_metdata {
	clear: both;
}

#annotation-submit{
	clear: both;
}

#bstablebody {
	font-family:sans-serif,courier new,courier;
	font-size: 0.9em;
}
#dstablebody {
	font-family:sans-serif,courier new,courier;
	font-size: 0.9em;
}
#bstable_filter {
	margin-bottom: 2em;
}
#bstable_info {
	margin-top: 2em;
}
#dstable_filter {
	margin-bottom: 2em;
}
#dstable_info {
	margin-top: 2em;
}


.pageItem {
	margin: 14px 20px;
}

.Step {
	color: #333;
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 6px;
}

.section {
	border: 1px solid #666;	
}

.highlight {
   background-color: #FC6;
	/* text-decoration: underline; */
}

.error {
	font-size: 0.9em;
}

td {
	background-color: #FFF;
}

pre {
	font-family: courier,courier new;
	font-size: 0.9em;
}
